# macOS
.DS_Store

# Crystal
/docs/
/libs/
/lib/
/.crystal/
/.shards/
.env

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Node
/node_modules

# Amber
/bin
.encryption_key
production.yml

# Pineauth
/pineauth
